* {
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: 'TT Lakes', 'Times New Roman', sans-serif;
	min-width: 320px;
	background-color: #f8f8f8;
}

.main {
	border-top: 1px solid #d9fff5;
}
.title {
	padding: 16px;
	background-color: #ffffff;
}
.title__h1 {
	color: #7e7e82;
	line-height: 24px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.swiper {
}
.swiper-wrapper {
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: row;
	flex-basis: 100%;
	gap: 16px 24px;
	padding: 24px 24px 0 24px;
}
.swiper-slide {
	padding: 0 16px;
	max-width: 224px;
	height: 72px;
	border: 1px solid #eaeaea;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.swiper-slide__img {
	height: auto;
	width: auto;
}
.swiper-slide__button {
	background: #ffffff url('../images/icons/go.svg') no-repeat;
	height: 40px;
	width: 40px;
	border: none;
	cursor: pointer;
}
.swiper-pagination {
	position: relative;
	margin-top: 20px;
}
.swiper-pagination-bullet {
	height: 12px;
	width: 12px;
	background-color: #dddddd;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: #b5b6bc;
}
.read-more {
	display: none;
	padding: 24px;
	align-items: center;
	cursor: pointer;
}

.read-more__button {
	position: relative;
	background-color: inherit;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin-left: 24px;
}

.read-more__button::before {
	content: url('../images/icons/expand.svg');
	position: absolute;
	left: -30px;
	top: -3.5px;
	transition: transform 200ms linear;
}
.read-more__button--active::before {
	transform: rotate(180deg) translate(0, 3.5px);
}

.hidden {
	display: none;
}

@media screen and (width >= 768px) and (width < 1120px) {
	.title {
		background-color: #f8f8f8;
	}
	.read-more {
		display: flex;
	}

	.swiper-wrapper {
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 1120px) {
	.title {
		background-color: #f8f8f8;
	}
	.main {
		max-width: 1120px;
		margin: 0 auto;
	}

	.read-more {
		display: flex;
	}

	.swiper-wrapper {
		flex-wrap: wrap;
	}
}
